/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    
  }
  
  body {
    font-size: 1.3em;
    margin: 0 3%;
  }
  
  article {
  
  }
  
  h1 {
    font-size: 1.3em;
    text-align: center;
  
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
      margin-top: 30px;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

 
@media screen and (min-width: 800px) {
    body {
      background: rgba(0,0,255,.2);
      margin: 25px 6%;
      display: flex;
      flex-direction: column;
    }
    section{
        display: flex;
        flex-wrap: wrap;
    }
  
  
    figure {
      width: 45%;
      margin-right: 4.5%;
      min-width: 40%;
    
      
      }

 } 

 @media screen and (min-width: 1300px) {
    body {
        background: rgba(62, 151, 121, 0.2);
        margin: 25px 6%;
        display: flex;
        flex-direction: column;
        max-width:  1130px;
        margin-left: auto;
        margin-right: auto;

      }
      section{
          display: flex;
          flex-wrap: wrap;
      }
    
    
      figure {
        width: 45%;
        margin-right: 4.5%;
    
      
        
        }


 }