h1{
    font-size:65px;
    
    color:orange;
    font-family: sans-serif
}

#list{

    background-color: blue ;
}

.modcor {

    background-color: aquamarine;
}
p{
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 100px;
}
body{
    font-size: 16px;
}

ul{
    text-align: center;
    background-color: rgb(204, 172, 172);
    line-height: 30px;
}
